<h1>Chatr</h1>

<form>
  <input type="text" name="full_name" placeholder="type your full name..." />
  <textarea name="body" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<ul id="messages"></ul>
